.steps {
    &__form {
    }
    &__numbers {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 650px;
        margin-bottom: 60px;
    }
}

.form {
    // form__step
    &__step {
    }
    // form__input
    &__input {
        display: flex;
        position: relative;
        border: 1px solid $lightgray;
        max-width: 450px;

        &.search__input {
            margin-top: 40px;
        }
    }
}
.progress {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: $lightgray;
    z-index: -1;

    &__success {
    }
}
.step {
    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        border: 2px solid $lightgray;
        margin-right: 100px;
        flex-shrink: 0;
        background: $white;
    }
    &__buttons {
        margin-top: 60px;
        gap: 20px;
        display: flex;
    }
}

.input {
    padding: 20px 20px 20px 65px;
    width: 100%;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: $gray;

    &:focus {
        outline: 1px solid $red;
    }
    //Input__img 
    &__img {
        position:absolute;
        left: 30px;
        top: 50%;
        transform: translate(0,-50%);
    }
}


