.header {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    //header__item
    &__item {
        flex: 0 1 50%;

        &.image__item {
            background: url("../img/src/bg/bg.jpg") top / cover no-repeat;
        }
        &.info__item {
            padding: 65px 100px;
            display: flex;
            flex-direction: column;
        }
    }
}
.logo {
    padding-bottom: 88px;
    display: flex;
}

//header__btn
.header__btn {
    margin-top: 40px;
    padding: 18px 30px;
}

.link {
    margin-top: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    color: $gray;
    a {
        color: $red;
    }
}

@media (max-width: 1199px) {
    .section {
        //section__title
        &__title {
            font-size: 38px;
            line-height: 56px;
        }
        &__text {
            font-size: 15px;
            line-height: 22px;
        }
        
    }

    .link {
        font-size: 15px;
        line-height: 17px;
        text-align: center;
    }
    .header {
        &__btn {
            font-size: 14px;
        }
    }
}
@media (max-width: 991px) {
    .section {
        //section__title
        &__title {
            text-align: center;
            font-size: 40px;
            line-height: 35px;
        }
        &__text {
            margin-top: 10px;
            text-align: center;
            font-size: 15px;
            line-height: 27px;
        }
    }
    .header__btn {
        text-align: center;
        margin-top: 40px;
        font-size: 15px;
    }
    svg {
        display: none;
    }
    .logo {
        margin: 0 auto;
    }
    a {
        margin: 0 auto;
    }
}
@media (max-width: 800px) {
    .section {
        //section__title
        &__title {
            font-size: 30px;
            line-height: 30px;
        }
        &__text {
            font-size: 13px;
            line-height: 18px;
        }
    }
    .header__btn {
        padding: 10px;
        font-size: 13px;
    }

    .link {
        font-size: 13px;
        line-height: 15px;
    }
}
@media (max-width: 575px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .link {
        margin-top: 15px;
        font-size: 13px;
        line-height: 17px;
    }
}
