.radion {
    // .radion__item

    &__item {
        display: flex;
        max-width: 360px;
        padding: 20px;
        background: $lightblue;
        align-items: center;
        position: relative;
    }
}

.radio {
    &__input {
        display: none;

        &:checked + .fake:after {
            opacity: 1;
        }
    }
}

.fake {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid $red;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    &:after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background: $red;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}
.text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    margin-left: 30px;
    color: $blue;
}
.img {
}
.border {
}
